In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
%cd "drive/MyDrive/FlickZee Internship"

/content/drive/MyDrive/FlickZee Internship

In [ ]:
kmeans = KMeans(n_clusters=4)

In [ ]:
# genome_scores= pd.read_csv('genome_scores.csv')
# genome_tags = pd.read_csv('genome_tags.csv')
link = pd.read_csv('link.csv')
movie = pd.read_csv('movie.csv')
rating = pd.read_csv('rating.csv')
tag = pd.read_csv('tag.csv')

In [ ]:
link = link[['movieId', 'imdbId']]
rating = rating[['userId', 'movieId', 'rating']]
tag = tag[['userId', 'movieId']]

In [ ]:
rating_updated = rating.groupby('movieId', as_index=False)['rating'].mean()

In [ ]:
rating_updated

       movieId    rating
0            1  3.921240
1            2  3.211977
2            3  3.151040
3            4  2.861393
4            5  3.064592
...        ...       ...
26739   131254  4.000000
26740   131256  4.000000
26741   131258  2.500000
26742   131260  3.000000
26743   131262  4.000000

[26744 rows x 2 columns]

In [ ]:
movies_to_test = pd.read_csv('Movies to Test - Sheet1.csv')

In [ ]:
movies_to_test

    Industry  ...                              IMDb Link
0  Hollywood  ...  https://www.imdb.com/title/tt0137523/
1  Hollywood  ...  https://www.imdb.com/title/tt0390384/
2  Hollywood  ...  https://www.imdb.com/title/tt0382932/
3  Hollywood  ...  https://www.imdb.com/title/tt0120737/
4  Hollywood  ...  https://www.imdb.com/title/tt12888462
5  Bollywood  ...  https://www.imdb.com/title/tt2356180/
6  Bollywood  ...  https://www.imdb.com/title/tt1187043/
7  Bollywood  ...   https://www.imdb.com/title/tt1010048
8  Bollywood  ...  https://www.imdb.com/title/tt0454876/
9  Bollywood  ...  https://www.imdb.com/title/tt0838221/

[10 rows x 3 columns]

In [ ]:
# Looping the testing sheet containing the list of movies and their names and links
for i in range(len(movies_to_test)) :

  if (i == 4):
    continue

  # The given tag of the current movie to test
  tag_genome = movies_to_test.iloc[i][0]

  # Creating variables which will be used later on
  movie_tag = []
  genome_scores_updated = []
  similar_movies_titles = []
  rating_difference = []
  indices = []
  k = 0

  # Using slicing to get the imdbId of the movie from the link
  imdb_id = int(((movies_to_test.iloc[i][2])[29:36]))
  
  # Using a loop to find the movieId linked to the imdbId
  for j in range(len(link)) :
    if (int(link.iloc[j][1]) == imdb_id):

      # Contains the movieId of the current test movie
      movie_id = int(link.iloc[j][0])

  # Storing the genres and the title of the test movie
  for j in range(len(movie)):
    if (int(movie.iloc[j][0]) == movie_id) :

      # Contains the genres of the current test movie
      genres = movie.iloc[j][2]

      # Contains the title of the current test movie
      title = movie.iloc[j][1]

  # Storing the name of all the movies which have the same genre as the test movie
  for j in range(len(movie)) :
    if (movie.iloc[j][2] == genres):

      # Contains the list of all the movies in the dataset with the same genre as the  current test movie 
      similar_movies_titles.append(movie.iloc[j])
  
  # Converting to a DataFrame for manipulation
  similar_movies_titles = pd.DataFrame(similar_movies_titles)

  current_rating = (rating_updated[rating_updated.movieId == movie_id]).iloc[0][1]

  # for j in range(len(genome_scores)) :
  #   if genome_scores['relevance'][j] > 0.85 :

  #     # Storing only those tagIds for a movie whose relevance is more than 0.75 in the dataset
  #     genome_scores_updated.append(genome_scores.iloc[j])

  # # Converting to a DataFrame for manipulation
  # genome_scores_updated = pd.DataFrame(genome_scores_updated)

  # Storing all the unique tags for the test movie
  # for j in range(len(tag)) :
  #   if (int(tag.iloc[j][1]) == movie_id) :
  #     movie_tag.append(tag.iloc[j][2])
  # movie_tag = np.array(movie_tag)
  # movie_tag = np.unique(movie_tag)      
  
  # df = genome_scores_updated.merge(link)
  df = link.merge(similar_movies_titles)
  df = df.merge(rating_updated)

    
  for j in range(len(df)) :
    rating_difference.append(abs((df.iloc[j][4]) - current_rating))

  hell = pd.DataFrame()
  # rating_difference = pd.DataFrame(rating_difference)
  hell['ratingdiff'] = rating_difference

  hello = hell.nsmallest(6, ['ratingdiff'])

  if len(hello)==6:  
    for j in range(5):
      indices.append(hello.index[j+1])

  else :
    for j in range(len(hello)):
      indices.append(hello.index[j+1])

  for j in range(len(indices)):
    print(df.iloc[indices[j]][2])
    # print("\n")


  print("\n\n\n")

In [ ]:
df

     movieId   imdbId  ...                       genres    rating
0         78   112744  ...  Action|Crime|Drama|Thriller  3.180669
1        293   110413  ...  Action|Crime|Drama|Thriller  4.050574
2        349   109444  ...  Action|Crime|Drama|Thriller  3.660309
3        996   116830  ...  Action|Crime|Drama|Thriller  2.997863
4       1218    97202  ...  Action|Crime|Drama|Thriller  4.066749
..       ...      ...  ...                          ...       ...
102   118522    79735  ...  Action|Crime|Drama|Thriller  2.000000
103   118898  2937898  ...  Action|Crime|Drama|Thriller  3.693878
104   119126  2409300  ...  Action|Crime|Drama|Thriller  3.666667
105   130083  2917388  ...  Action|Crime|Drama|Thriller  3.333333
106   130219  2258647  ...  Action|Crime|Drama|Thriller  4.500000

[107 rows x 5 columns]

In [ ]:
hello

   ratingdiff
2    0.000000
1    0.354102
0    0.455815
3    0.778603

In [ ]:
indices.append(hello.index[i+1])

In [ ]:
df.iloc[0][4]

3.180668841761827

In [ ]:
hello = hell.nsmallest(6, ['ratingdiff'])

In [ ]:
print(hello)

     ratingdiff
9      0.000000
4      0.160374
1      0.176550
10     0.249230
62     0.256633
106    0.272877

[4, 1, 10, 62, 106]

In [ ]:
new_df = df['rating']
print(new_df)

0      3.180669
1      4.050574
2      3.660309
3      2.997863
4      4.066749
         ...
102    2.000000
103    3.693878
104    3.666667
105    3.333333
106    4.500000
Name: rating, Length: 107, dtype: float64

In [ ]:
kmeans.fit(new_df)

In [ ]:
kmeans.cluster_centers_

In [ ]:
kmeans.labels_

In [ ]:
df = genome_scores[genome_scores.movieId == 2959.0 ]
print(df)

         movieId  tagId  relevance
2958744     2959      1    0.02500
2958745     2959      2    0.02300
2958746     2959      3    0.02700
2958747     2959      4    0.03925
2958748     2959      5    0.09025
...          ...    ...        ...
2959867     2959   1124    0.18625
2959868     2959   1125    0.07050
2959869     2959   1126    0.02150
2959870     2959   1127    0.06175
2959871     2959   1128    0.02050

[1128 rows x 3 columns]

In [ ]:
df

      movieId   tagId  ...                       genres    rating
0        78.0   844.0  ...  Action|Crime|Drama|Thriller  3.180669
1        78.0  1070.0  ...  Action|Crime|Drama|Thriller  3.180669
2       293.0    19.0  ...  Action|Crime|Drama|Thriller  4.050574
3       293.0    81.0  ...  Action|Crime|Drama|Thriller  4.050574
4       293.0    82.0  ...  Action|Crime|Drama|Thriller  4.050574
..        ...     ...  ...                          ...       ...
616  118898.0   741.0  ...  Action|Crime|Drama|Thriller  3.693878
617  118898.0   745.0  ...  Action|Crime|Drama|Thriller  3.693878
618  118898.0  1020.0  ...  Action|Crime|Drama|Thriller  3.693878
619  118898.0  1084.0  ...  Action|Crime|Drama|Thriller  3.693878
620  118898.0  1085.0  ...  Action|Crime|Drama|Thriller  3.693878

[621 rows x 7 columns]

In [ ]:
movie_updated = pd.DataFrame(similar_movies_titles)
print(movie_updated)

       movieId  ...                       genres
77          78  ...  Action|Crime|Drama|Thriller
290        293  ...  Action|Crime|Drama|Thriller
345        349  ...  Action|Crime|Drama|Thriller
977        996  ...  Action|Crime|Drama|Thriller
1192      1218  ...  Action|Crime|Drama|Thriller
...        ...  ...                          ...
25108   118522  ...  Action|Crime|Drama|Thriller
25189   118898  ...  Action|Crime|Drama|Thriller
25246   119126  ...  Action|Crime|Drama|Thriller
27074   130083  ...  Action|Crime|Drama|Thriller
27078   130219  ...  Action|Crime|Drama|Thriller

[109 rows x 3 columns]

In [ ]:
data_frames = movie_updated.merge(rating)

In [ ]:
data_frames

        movieId                           title  ...  userId  rating
0            78      Crossing Guard, The (1995)  ...      53     3.0
1            78      Crossing Guard, The (1995)  ...     114     4.0
2            78      Crossing Guard, The (1995)  ...     130     3.0
3            78      Crossing Guard, The (1995)  ...     134     3.0
4            78      Crossing Guard, The (1995)  ...     184     4.0
...         ...                             ...  ...     ...     ...
195236   119126                  Killers (2014)  ...   52292     4.0
195237   130083  Kidnapping Mr. Heineken (2015)  ...   33610     4.0
195238   130083  Kidnapping Mr. Heineken (2015)  ...  114065     4.0
195239   130083  Kidnapping Mr. Heineken (2015)  ...  126917     2.0
195240   130219          The Dark Knight (2011)  ...    1339     4.5

[195241 rows x 5 columns]

In [ ]:
data_frames = genome_scores.merge(genome_tags)

In [ ]:
data_frames = data_frames.merge(link)

In [ ]:
data_frames = data_frames.merge(movie)

In [ ]:
count = 0
for i in range(len(data_frames)) :
  if data_frames['relevance'][i] > 0.75:
    # print("yes")
    count += 1

print(count)

139370

In [ ]:
data_frames = data_frames.merge(rating)